.board {
  height: calc(var(--main-height) - (2 * 1.5em));
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  margin: 1.5em;
  padding: 0;

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;

    &-save {
      margin: 0 5px;
    }
  }

  &__main {
    height: 100%;
  }

  &__content {
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  &__btn-add {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 400px;
  }
}

.drag-list {
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  padding: 10px;
}

.drag-el {
  border-radius: 10px;
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-el:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-el:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
