<section class="edit-profile">
  <div class="edit-profile__container">
    <h4 class="edit-profile__title">
      {{ 'edit.update' | translate | titlecase }}
    </h4>
    <form
      [formGroup]="updateForm"
      class="edit-profile__form"
      (ngSubmit)="onSubmit(updateForm.value)"
    >
      <mat-form-field appearance="fill">
        <mat-label>{{ 'auth.login' | translate | titlecase }}</mat-label>
        <input
          formControlName="login"
          matInput
          placeholder="{{ 'auth.enter-login' | translate | titlecase }}"
          type="text"
        />
        <small
          class="signup__error"
          *ngIf="updateForm.get('login')?.hasError('required')"
        >
          {{ 'auth.login-is-required' | translate | titlecase }}
        </small>
        <small
          class="login__input-error"
          *ngIf="updateForm.get('login')?.hasError('email')"
        >
          {{ 'auth.login-email-invalid' | translate | titlecase }}
        </small>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'auth.name' | translate | titlecase }}</mat-label>
        <input
          formControlName="name"
          matInput
          placeholder="{{ 'auth.enter-name' | translate | titlecase }}"
          type="text"
        />
        <small
          class="signup__error"
          *ngIf="updateForm.get('name')?.hasError('required')"
        >
          {{ 'auth.name-is-required' | translate | titlecase }}
        </small>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'auth.password' | translate | titlecase }}</mat-label>
        <input
          formControlName="password"
          matInput
          placeholder="{{ 'auth.enter-password' | translate | titlecase }}"
          type="password"
        />
        <small
          class="login__input-error"
          *ngIf="updateForm.get('password')?.hasError('required')"
        >
          {{ 'auth.enter-password' | translate | titlecase }}
        </small>
      </mat-form-field>
      <div>
        <button type="submit" mat-button>
          {{ 'edit.update' | translate | titlecase }}
        </button>
      </div>
    </form>
  </div>
</section>
