.signin {
  height: var(--main-height);
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 250px;
    padding: 20px 20px;
    background-color: var(--login-bg-color);
  }

  &__form {
    display: flex;
    flex-direction: column;

    & > * {
      margin-top: 8px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__error {
    color: var(--login-error);
  }
}

.alert-danger {
  font-size: 10px;
  color: #820000;
  padding: 3px;
  margin-bottom: 3px;
}
