<header>
  <app-search-box (searchValueEvent)="onSearch($event)"></app-search-box>
</header>
<mat-selection-list
  class="boards"
  [multiple]="false"
  [(ngModel)]="selectedOptions"
  (ngModelChange)="openBoard()"
>
  <mat-list-option
    *ngFor="let board of boards"
    [value]="board.id"
    class="boards__option"
  >
    <section class="boards__item">
      <mat-icon (click)="editBoard($event, board.id)">edit</mat-icon>
      <mat-icon (click)="deleteBoard($event, board.id)">delete</mat-icon>
      {{ board.title }}
    </section>
  </mat-list-option>
</mat-selection-list>
