.edit-task {
  width: 350px;
  height: 340px;
  padding: 20px 20px;
  background-color: var(--login-bg-color);
  margin: 10px;
  &__form {
    display: flex;
    flex-direction: column;
    & > * {
      margin-top: 8px;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
  }
  &__error {
    color: var(--login-error);
  }
}

.alert div {
  font-size: 10px;
  color:  var(--error-color);
  padding: 3px;
  margin-bottom: 3px;
}
