<div class="edit-task">
  <h4 class="edit-task__title">
    {{
      taskId
        ? ('task.task-update' | translate | titlecase)
        : ('task.task-create' | translate | titlecase)
    }}
  </h4>
  <form class="edit-task__form" [formGroup]="task" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-group">
      <mat-label for="title">{{
        'task.title' | translate | titlecase
      }}</mat-label>
      <div
        *ngIf="title?.invalid && (title?.dirty || title?.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="title?.errors?.['required']">
          {{ 'validation.required' | translate }}
        </div>
        <div *ngIf="title?.errors?.['minlength']">
          {{ 'validation.min-length' | translate }}
        </div>
      </div>
      <input
        formControlName="title"
        id="title"
        matInput
        placeholder="Enter Title"
        type="text"
        required
      />
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label for="order">{{
        'task.order' | translate | titlecase
      }}</mat-label>
      <div
        *ngIf="order?.invalid && (order?.dirty || order?.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="order?.errors?.['required']">
          {{ 'validation.required' | translate }}
        </div>
        <div *ngIf="order?.errors?.['pattern']">
          {{ 'validation.number' | translate }}
        </div>
      </div>
      <input
        formControlName="order"
        id="order"
        matInput
        placeholder="Enter Order"
        type="text"
        required
      />
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label for="description">{{
        'task.description' | translate | titlecase
      }}</mat-label>
      <div
        *ngIf="
          description?.invalid && (description?.dirty || description?.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="description?.errors?.['required']">
          {{ 'validation.required' | translate }}
        </div>
        <div *ngIf="description?.errors?.['minlength']">
          {{ 'validation.min-length' | translate }}
        </div>
      </div>
      <input
        formControlName="description"
        id="description"
        matInput
        placeholder="Enter Description"
        type="text"
        required
      />
    </mat-form-field>
    <div class="form-group">
      <button type="submit" mat-button color="primary">
        {{ 'task.process' | translate | titlecase }}
      </button>
    </div>
  </form>
</div>
