<div class="edit-task">
  <h4 class="edit-task__title">
    {{
      taskId
        ? ('task-form.task-update' | translate | titlecase)
        : ('task-form.task-create' | translate | titlecase)
    }}
  </h4>
  <form class="edit-task__form" [formGroup]="task" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>{{ 'task-form.title' | translate | titlecase }}</mat-label>
      <input
        formControlName="title"
        matInput
        placeholder="{{ 'task-form.enter-title' | translate | titlecase }}"
        type="text"
      />
      <small
        class="edit-task__error"
        *ngIf="task.get('title')?.hasError('required')"
      >
        {{ 'validation.required' | translate }}
      </small>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'task-form.order' | translate | titlecase }}</mat-label>
      <input
        formControlName="order"
        matInput
        placeholder="{{ 'task-form.enter-order' | translate | titlecase }}"
        type="text"
      />
      <small
        class="edit-task__error"
        *ngIf="task.get('order')?.hasError('required')"
      >
        {{ 'validation.required' | translate }}
      </small>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{
        'task-form.description' | translate | titlecase
      }}</mat-label>
      <input
        formControlName="description"
        matInput
        placeholder="{{ 'task-form.enter-desc' | translate | titlecase }}"
        type="text"
      />
      <small
        class="edit-task__error"
        *ngIf="task.get('order')?.hasError('required')"
      >
        {{ 'validation.required' | translate }}
      </small>
    </mat-form-field>
    <div class="form-group">
      <button type="submit" mat-button color="primary">
        {{ 'task-form.process' | translate | titlecase }}
      </button>
    </div>
  </form>
</div>
