.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;

  &__title {
    cursor: pointer;
  }

  &__menu {
    &_large {
      width: 100%;
      cursor: pointer;
      display: flex;
      flex-direction: column;
    }

    @media (min-width: 800px) {
      display: none;
    }
  }

  &__burger {
    cursor: pointer;
    padding-right: 30px;
  }

  &__button {
    margin: 0 10px;

    &_large {
      width: 100%;
      padding: 0;
      text-align: left;
    }
  }

  &__list {
    display: flex;
    list-style: none;

    @media (max-width: 800px) {
      display: none;
    }
  }

  &__toolbar-row {
    display: flex;
    justify-content: space-between;
  }

  &__toggle {
    width: 70px;

    &_large {
      width: 100%;
      text-align: left;
    }
  }
}


.no-shrink {
  height: 64px;
  transition: 0.5s linear;
}

.shrink {
  height: 75px;
  background-color: green;
  transition: 0.5s linear;
}
