$login-bg-color: #F2F2F2;


.signup {
  width: 350px;
  height: 350px;
  padding: 20px 20px;
  background-color: $login-bg-color;
  margin: 10px;
  &__form {
    display: flex;
    flex-direction: column;
    & > * {
      margin-top: 8px;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
  }
  /*&__form-group {
    display:flex;
    flex-direction: column;
  }
  &__label {
    font-size: 12px;
  }
  &__input {
    height: 37px;
    background-color: $login-input-color;
    border: none;
    padding: 8px;
    font-size: 10px;
  }
  &__button {
  width: 124px;
  height: 30px;
  background-color: $button-color;
  border: none;
  align-self: flex-end;
  border-radius: 4px;
  color: $white-color;
  &:hover {
    cursor: pointer;
    background-color: $button-hover-color;
  }
  }*/
}
