<div class="column">
  <header class="column__header">
    <h2 class="column__title">{{ title }}</h2>
  </header>

  <div
    class="column__list drag-list"
    cdkDropList
    [cdkDropListData]="tasks"
    (cdkDropListDropped)="drop($event)"
  >
    <div *ngFor="let task of tasks" class="column__task drag-el" cdkDrag>
      <h3>{{ task.title }}</h3>
    </div>

    <button class="board__btn-add" mat-stroked-button (click)="onAddTask()">
      <mat-icon>add</mat-icon>
      <span>{{ 'board.column.btn-add' | translate }}</span>
    </button>
  </div>
</div>
