.column {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  background-color: #ebecf0;
  border-radius: 10px;
  padding: 10px 8px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  &__title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0;
    color: #172b4d;
    font-size: 20px;

    &-button {
      cursor: pointer;
    }
  }
}

.column__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 70vh;
  overflow-y: auto;
}

.column__task {
  padding: 6px 8px 2px;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 1px 0 #091e4240;
  background: white;
  font-size: 14px;
}

.task {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  justify-content: space-between;

  &__title {
    padding: 0;
    margin: 0;
  }

  &__delete {
    cursor: pointer;
  }
}

.drag-list {
  min-height: 60px;
}

.drag-el {
  border-radius: 3px;
  cursor: pointer;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-el:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-el:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
