<div class="signin">
  <h4 class="signin__title">Login</h4>
  <form action="#" class="signin__form">
    <label class="signin__label" for="signin-input">login</label>
    <input
      id="signin-input"
      placeholder="Enter Your Login"
      class="signin__input"
      type="text"
    />
    <label class="signin__label" for="signin-input">password</label>
    <input
      id="password-input"
      placeholder="Enter Password"
      class="signin__input"
      type="text"
    />
    <button class="signin__button" type="submit" (click)="submitForm()">
      SignIn
    </button>
  </form>
</div>

<!--(input)="clickLoginInput($event)"     (input)="clickPasswordInput($event)"-->
