<div class="signin">
  <h4 class="signin__title">Sign In</h4>
  <form
    class="signin__form"
    *ngIf="!isLoggedIn"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <mat-form-field class="form-group" appearance="fill">
      <mat-label>Login</mat-label>
      <input
        matInput
        placeholder="Enter Your Login"
        type="text"
        name="login"
        [(ngModel)]="form.login"
        required
        minlength="3"
        maxlength="20"
        #login="ngModel"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="login.errors && f.submitted"
      >
        Login is required!
      </div>
    </mat-form-field>
    <mat-form-field class="form-group" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Enter Password"
        name="password"
        type="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
      />
      <div
        class="alert-danger"
        role="alert"
        *ngIf="password.errors && f.submitted"
      >
        <div *ngIf="password?.errors?.['required']">Password is required</div>
        <div *ngIf="password?.errors?.['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
    </mat-form-field>
    <div class="form-group">
      <button type="submit" mat-button>Sign In</button>
    </div>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="f.submitted && isLoginFailed"
    >
      Login failed: {{ errorMessage }}
    </div>
  </form>
  <div class="alert alert-success" *ngIf="isLoggedIn">Logged in.</div>
</div>
