<<!--<div class="signup">
  <h4 class="signup__title">Register</h4>
  <form
    action="#"
    class="signup__form"
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <label class="signup__label" for="login">login</label>
    <input
      id="signup-input"
      placeholder="Enter Your Login"
      class="signup__input"
      type="text"
      [(ngModel)]="form.login"
      required
      minlength="3"
      maxlength="20"
      #login="ngModel"
    />
    <div class="alert-danger" *ngIf="username.errors && f.submitted">
      <div *ngIf="username.errors.required">Username is required</div>
      <div *ngIf="username.errors.minlength">
        Username must be at least 3 characters
      </div>
      <div *ngIf="username.errors.maxlength">
        Username must be at most 20 characters
      </div>
    </div>
    <label class="signup__label" for="signup-input">name</label>
    <input
      id="signup-input"
      placeholder="Enter Your Name"
      class="signup__input"
      type="text"
    />
    <label class="signup__label" for="password">Password</label>
    <input
      type="text"
      class="signup__input"
      placeholder="Enter Password"
      name="password"
      [(ngModel)]="form.password"
      required
      minlength="6"
      #password="ngModel"
    />
    <div class="alert-danger" *ngIf="password.errors && f.submitted">
      <div *ngIf="password.errors.required">Password is required</div>
      <div *ngIf="password.errors.minlength">
        Password must be at least 6 characters
      </div>
    </div><div class="form-group">
      <button class="btn btn-primary btn-block">Sign Up</button>
    </div>
    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
      Signup failed!<br />{{ errorMessage }}
    </div>
    <button class="signup__button" type="submit">SignIn</button>
  </form>
  <div class="alert alert-success" *ngIf="isSuccessful">
    Your registration is successful!
  </div>
</div>
-->
