<section class="edit-board">
  <div class="edit-board__container">
    <h4 class="edit-board__title">
      {{ 'board.title' | translate | titlecase }}
    </h4>
    <form [formGroup]="boardForm" class="edit-board__form">
      <mat-form-field appearance="fill">
        <mat-label for="title">{{
          'board.title' | translate | titlecase
        }}</mat-label>
        <div
          *ngIf="title?.invalid && (title?.dirty || title?.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="title?.errors?.['required']">Title is required.</div>
          <div *ngIf="title?.errors?.['minlength']">
            Title must be at least 3 characters long.
          </div>
        </div>
        <input
          matInput
          formControlName="title"
          placeholder="{{ 'value' | translate | titlecase }}"
          type="text"
          required
        />
      </mat-form-field>

      <button type="submit" (click)="onSubmit()" mat-button>
        {{ 'board.process' | translate | titlecase }}
      </button>
    </form>
  </div>
</section>
