@mixin tablet {
  @media (max-width: 1100px) {
    @content
  }
}

@mixin small-tablet {
  @media (max-width: 900px) {
    @content
  }
}

@mixin smart {
  @media (max-width: 700px) {
    @content
  }
}

@mixin glass-container {
  height: fit-content;
  padding: 3%;
  background: rgba(44, 24, 77, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  border: 1px solid rgba(44, 24, 77, 0.24);
  text-shadow: #2c184d 1px 0 10px;
}
