:root {
  --header-height: 64px;
  --footer-height: 64px;
  --login-bg-color: #F2F2F2;
  --login-error: #a94442;
  --welcome-color: #e67a07;
  --error-color: #e71e1e;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
}
