<footer class="footer">
  <mat-toolbar class="footer__container" color="primary">
    <ul class="footer__authors">
      <li>
        <a
          class="footer__link"
          href="https://github.com/abulynka"
          target="_blank"
        >
          <img
            class="footer__link-img"
            src="../../../../assets/svg/github-white.svg"
            alt="github"
          />
          <p>abulynka</p></a
        >
      </li>
      <li>
        <a
          class="footer__link"
          href="https://github.com/AlionaMu"
          target="_blank"
          ><img
            class="footer__link-img"
            src="../../../../assets/svg/github-white.svg"
            alt="github"
          />
          <p>AlionaMu</p></a
        >
      </li>
      <li>
        <a
          class="footer__link"
          href="https://github.com/borodichAlex"
          target="_blank"
          ><img
            class="footer__link-img"
            src="../../../../assets/svg/github-white.svg"
            alt="github"
          />
          <p>borodichAlex</p></a
        >
      </li>
    </ul>
    <p class="footer__year">2022</p>
    <div class="footer__rs">
      <a href="https://rs.school/angular/" target="_blank"
        ><img
          class="footer__link-img"
          src="../../../../assets/svg/rs-school-js.svg"
          alt="RSSchool"
      /></a>
    </div>
  </mat-toolbar>
</footer>
