<section class="welcome">
  <div class="welcome__title-container">
    <span class="welcome__title">{{
      'welcome.title' | translate | titlecase
    }}</span>
    <span class="welcome__title-desc">
      {{ 'welcome.desc' | translate }}
    </span>
  </div>

  <div class="welcome__features-container">
    <span class="welcome__features-desc">{{
      'welcome.features-desc' | translate
    }}</span>
    <ul class="welcome__features">
      <li class="welcome__features-item">
        {{ 'welcome.features.0' | translate }}
      </li>
      <li class="welcome__features-item">
        {{ 'welcome.features.1' | translate }}
      </li>
      <li class="welcome__features-item">
        {{ 'welcome.features.2' | translate }}
      </li>
      <li class="welcome__features-item">
        {{ 'welcome.features.3' | translate }}
      </li>
    </ul>
  </div>

  <div>
    <span></span>
  </div>
</section>
