<section class="welcome">
  <div class="welcome__title-container">
    <h2 class="welcome__title">
      {{ 'welcome.title' | translate | titlecase }}
    </h2>
    <p class="welcome__title-desc">
      {{ 'welcome.desc' | translate }}
    </p>
  </div>

  <div class="welcome__features-container">
    <span class="welcome__features-desc">{{
      'welcome.features-desc' | translate
    }}</span>
    <ul class="welcome__features">
      <li class="welcome__features-item">
        {{ 'welcome.features.0' | translate }}
      </li>
      <li class="welcome__features-item">
        {{ 'welcome.features.1' | translate }}
      </li>
      <li class="welcome__features-item">
        {{ 'welcome.features.2' | translate }}
      </li>
      <li class="welcome__features-item">
        {{ 'welcome.features.3' | translate }}
      </li>
    </ul>
  </div>

  <div class="welcome__info-container">
    <p class="welcome__info">
      {{ 'welcome.info' | translate }}
    </p>
  </div>

  <div class="welcome__team-container">
    <h3 class="welcome__team-title">{{ 'welcome.team-title' | translate }}</h3>
    <ul class="welcome__team">
      <li class="welcome__team-item">
        <mat-card class="welcome__team-card">
          <mat-card-header class="welcome__team-card-header">
            <div mat-card-avatar class="welcome__team-card-image_0"></div>
            <mat-card-title class="welcome__team-card-title">{{
              'welcome.team.0' | translate
            }}</mat-card-title>
            <mat-card-subtitle class="welcome__team-card-subtitle">{{
              'welcome.position.0' | translate
            }}</mat-card-subtitle>
          </mat-card-header>
          <p class="welcome__team-card-content">
            {{ 'welcome.role.0' | translate }}
          </p>
        </mat-card>
      </li>
      <li class="welcome__team-item">
        <mat-card class="welcome__team-card">
          <mat-card-header class="welcome__team-card-header">
            <div mat-card-avatar class="welcome__team-card-image_1"></div>
            <mat-card-title class="welcome__team-card-title">{{
              'welcome.team.1' | translate
            }}</mat-card-title>
            <mat-card-subtitle class="welcome__team-card-subtitle">{{
              'welcome.position.1' | translate
            }}</mat-card-subtitle>
          </mat-card-header>
          <p class="welcome__team-card-content">
            {{ 'welcome.role.1' | translate }}
          </p>
        </mat-card>
      </li>
      <li class="welcome__team-item">
        <mat-card class="welcome__team-card">
          <mat-card-header class="welcome__team-card-header">
            <div mat-card-avatar class="welcome__team-card-image_2"></div>
            <mat-card-title class="welcome__team-card-title">{{
              'welcome.team.2' | translate
            }}</mat-card-title>
            <mat-card-subtitle class="welcome__team-card-subtitle">{{
              'welcome.position.2' | translate
            }}</mat-card-subtitle>
          </mat-card-header>
          <p class="welcome__team-card-content">
            {{ 'welcome.role.2' | translate }}
          </p>
        </mat-card>
      </li>
    </ul>
  </div>
</section>
