<section class="welcome" *ngIf="translateData">
  <div class="welcome__title-container">
    <h2 class="welcome__title">
      {{ 'welcome.title' | translate | titlecase }}
    </h2>
    <p class="welcome__title-desc">
      {{ 'welcome.desc' | translate }}
    </p>
  </div>

  <div class="welcome__features-container">
    <span class="welcome__features-desc">{{
      'welcome.features-desc' | translate
    }}</span>
    <ul class="welcome__features">
      <li
        *ngFor="let item of translateData.features"
        class="welcome__features-item"
      >
        {{ item }}
      </li>
    </ul>
  </div>

  <div class="welcome__info-container">
    <p class="welcome__info">
      {{ 'welcome.info' | translate }}
    </p>
  </div>

  <div class="welcome__team-container">
    <h3 class="welcome__team-title">{{ 'welcome.team-title' | translate }}</h3>
    <ul class="welcome__team">
      <li
        *ngFor="let item; index as i; of: translateData.team"
        class="welcome__team-item"
      >
        <mat-card class="welcome__team-card">
          <mat-card-header class="welcome__team-card-header">
            <div mat-card-avatar class="welcome__team-card-image_{{ i }}"></div>
            <mat-card-title class="welcome__team-card-title">{{
              translateData.team[i]
            }}</mat-card-title>
            <mat-card-subtitle class="welcome__team-card-subtitle">{{
              translateData.position[i]
            }}</mat-card-subtitle>
          </mat-card-header>
          <p class="welcome__team-card-content">{{ translateData.role[i] }}</p>
        </mat-card>
      </li>
    </ul>
  </div>
</section>
