@import '../../../../styles/settings/mixins';

.welcome {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 40px;
  overflow-y: auto;
  color: white;

  @include small-tablet {
    flex-direction: column;
  }

  @include smart {
    padding: 0 10px;
  }

  background-image: url("/assets/img/welcome/project-management.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));

  & > * {
    margin: 30px;
    max-width: 1200px;

    @include smart {
      margin: 20px 5px;
    }
  }

  &__title {
    font-size: 72px;
    line-height: 50px;
    word-wrap: break-word;

    @include small-tablet {
      font-size: 56px;
    }

    @include smart {
      font-size: 40px;
    }

    &-container {
      @include glass-container();

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
    }

    &-desc {
      font-size: 32px;
      padding: 20px 10px 10px;
      margin: 0;
      line-height: 30px;

      @include smart {
        font-size: 18px;
      }
    }
  }

  &__features {
    &-container {
      @include glass-container();

      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;

      @include smart {
        font-size: 18px;
      }
    }

    &-desc {
      &::first-letter {
        text-transform: capitalize;
      }
    }

    &-item {
      font-weight: 400;
      font-size: 18px;
    }
  }

  &__info {
    @include glass-container;
    font-size: 18px;
    line-height: 30px;
    max-width: 900px;
  }

  &__team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-title {
      @include glass-container();
      text-transform: capitalize;
      font-size: 56px;
      font-weight: 500;
      margin: 0;

      @include small-tablet {
        font-size: 56px;
      }

      @include smart {
        font-size: 40px;
      }
    }

    &-item {
      border-radius: 20px;
      margin: 30px;
      width: 230px;

      @include smart {
        margin: 20px 10px;
      }
    }

    &-card {
      @include glass-container();
      padding: 20px;
      color: white;
    }

    &-card-title {
      display: flex;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    &-card-subtitle {
      text-transform: capitalize;
      text-align: center;
    }

    &-card-image_0 {
      width: 70px;
      height: 70px;
      background-image: url('/assets/svg/avatar-aliaksandr.svg');
    }

    &-card-image_1 {
      width: 70px;
      height: 70px;
      background-image: url('/assets/svg/avatar-aliona.svg');
    }

    &-card-image_2 {
      width: 70px;
      height: 70px;
      background-image: url('/assets/svg/avatar-alexander.svg');
    }

    &-card-content {
      padding: 20px 0 10px;
      height: 200px;
      line-height: 22px;
    }
  }
}
